*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.monthContainer{
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* grid-template-rows: auto auto auto ; */
}
.dayContainer{
  border: 1px solid gray;
}
.DateContainer{
  margin: 2px 0;
  padding: 2px;
  text-align: center;
}
.headerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activeCurrentDate{
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}
.headerContainerMain{
margin: 10px 5px;
display: flex;
}
.logoImage{
  height: 40px;
  width: 40px;
}
.calendarHeading{
  margin: 0 10px ;
  color: grey;
}
.todayBtn{
  padding: 0 20px;
  border: none;
  border-radius: 15px;
  background-color: rgb(92, 91, 91);
  color: #fff;
  cursor: pointer;
}
.monthAdjustBtn{
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.monthBtn{
  padding: 0 10px;
  margin: 0 5px;
  font-size: 20px;
  cursor: pointer;
}
.currentMonth{
  margin-left: 20px;
  color: grey;
  margin: auto 0;
}